@using GridMvc.Html
@model IEnumerable<RaptorENEL_V._1._0.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>LISTADO DE USUARIOS</h2>

<div class="dataTables_wrapper form-inline no-footer">
    <div class="row">
        <div class="col-md-8">
           
        </div>

        <div class="col-md-4">
            <a class="btn btn-secondary btn-icon bottom15 right15" href="@Url.Action("Create","User")">
                <span class="title"> Agregar Usuario</span>
                <i class="fa fa-plus"></i>
            </a>
            <div class="dataTables_length" id="example_length" style="float: right;">
                
                  @using (Html.BeginForm("Index", "User", FormMethod.Post, new { id = "pgForm", name = "pgForm" }))
                  {          
                        <select id="grid-size" name="grid-size" aria-controls="example" class="form-control input-sm select2-wrapper" onchange="SelectedIndexChanged()">
                            @if(@Session["Paginacion"].ToString()== "10"){
                            <option value="10" selected>10</option>}else{
                            <option value="10">10</option>}
                            @if(@Session["Paginacion"].ToString()=="25"){
                            <option value="25" selected>25</option>}else{
                            <option value="25">25</option>}
                            @if(@Session["Paginacion"].ToString()=="50"){
                            <option value="50" selected>50</option>}else{
                            <option value="50">50</option>}
                            @if(@Session["Paginacion"].ToString()=="100"){
                            <option value="100" selected>100</option>}else{
                            <option value="100">100</option>}
                        </select>
                  }
  
            </div>
        </div>
    </div>
    <div class="row" id="content">       
      @Html.Grid(Model).Columns(columns =>
 {
     columns.Add(c => c.username).Titled("Usuario").Filterable(true);
     columns.Add(c => c.email).Titled("Correo Electrónico");
     columns.Add(c => c.first_name).Titled("Nombre");
     columns.Add(c => c.last_name).Titled("Apellidos");
     columns.Add(c => c.is_staff).Titled("Es staff")
                  .Sanitized(false)
                  .Encoded(false)
                  .RenderValueAs(c => c.is_staff ? @"Si" : @"No");
     columns.Add()
         .Titled("Editar")
         .Css("text-center")
         .Filterable(true)
         .Sanitized(false)
         .Encoded(false)
        .RenderValueAs(c => @"<a class='btn-icon' href='User/Edit/"+c.id+ @"'>  <i class='fa fa-pencil-square-o icon-info'></i></a>");
     columns.Add()
       .Titled("Eliminar")
       .Css("text-center")
       .Filterable(true)
       .Sanitized(false)
       .Encoded(false)
       .RenderValueAs(c => @"<a class='btn-icon' href='User/Delete/" + c.id + @"'>  <i class='fa fa-trash-o icon-accent'></i></a>");
 }).WithPaging(int.Parse(@Session["Paginacion"].ToString())).Sortable(true)
    </div>
</div>


 <script>
    $(function(){
        var msg = "@(TempData["Msg"] as string)";
        if (msg !== "") {
            toastr.success(msg);
        }
    });
    function SelectedIndexChanged() {
        //Form post
        document.pgForm.submit();
    }
    $(".grid-filter-btn").attr('title', 'Filtrar');
</script>

