@{
    ViewBag.PageTitle = "Raptor CRM - ENEL"; 
    ViewBag.ContentTitle = "DASHBOARD";
    ViewBag.SectionTitle = "¡Bienvenido!";
}

<!-- CONTENIDO DASHBOARD -->
<br /><br />

<div class="container">
    <div class="masthead">
        <ul class="nav nav-justified">
            <li>@Html.ActionLink("HomeTest", "Index", "Home", null, new { @class = "active" })</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("User", "Index", "Index")</li>
        </ul>
    </div>
</div>

<br /><br />